@model RT.Models.Order
@{
    Layout = null;
    Nullable<decimal> dtot = Model.OrderedProducts.Where(op => op.Status == 1).Sum(op => (op.Quantity * op.Price));
    string TotalAmount = (dtot.HasValue && dtot > 0) ? dtot.Value.ToString("#,##0.00#") : "";
    bool anyDinining = Model.OrderedProducts.Where(i => i.Status == 1).Any(i => i.Type == 0);
}
@using (Html.BeginForm("Pay", "Bill", FormMethod.Post))
{
    <div id="divOrderDetails">
        
        <table class="invoice-form-table">
            <tbody>
                
                <tr>
                    <td>
                        <div id="invoice-payment-form" style="padding-bottom:10px;">
                            @if (Model != null)
                            {
                                        
                                @Html.HiddenFor(model => Model.Id);
                                @Html.HiddenFor(model => Model.Seats, new { @placeholder = "Seats"});
                                <br />
                                @Html.TextBoxFor(mode => TotalAmount, new { @readonly = "true", @placeholder = "Total", @class="billpage" });
                                <input type="text" placeholder="PAY AMOUNT" id="PaidAmount" name="PaidAmount" />
                                        
                                <input type="text" value="" placeholder="BALANCE" id="BalanceAmount" name="BalanceAmount" readonly="true" disabled="disabled" />
                                        
                            }
                        </div>
                        @Html.Hidden("saveOrderUrl", Url.Action("SaveOrder"))
                        <input type="button" value="Order" id="saveOrder" class="btn btn-disabled">
                        <div style="float:left;width:350px;">
        
                        @Html.Hidden("savePayUrl", Url.Action("Pay"))
                        <input type="button" value="Pay" id="savePayment" class="btn btn-disabled">
                        </div>
                    </td>
                </tr>
                <tr align="left">
                                    <td colspan="2">
                                        <input type="hidden" id="current-item-id">
                                        <input type="hidden" id="current-item-name">
                                        <input type="hidden" id="prev-added-item-id">
                                        <input type="hidden" id="current-item-unitprice">
                                        <input type="hidden" id="current-item-type">
                                        <table id="product-adder" style="margin-top: 0;">
                                            <tbody>
                                                <tr>
                                                    <td nowrap="nowrap">
                                                        <div id="circleButton" class="circle">0</div>
                                                        <div id="circleButton" class="circle">1</div>
                                                        <div id="circleButton" class="circle">2</div>
                                                        <div id="circleButton" class="circle">3</div>
                                                        <div id="circleButton" class="circle">4</div>
                                                        <div id="circleButton" class="circle">5</div>
                                                        <div id="circleButton" class="circle">6</div>
                                                        <div id="circleButton" class="circle">7</div>
                                                        <div id="circleButton" class="circle">8</div>
                                                        <div id="circleButton" class="circle">9</div>
                                                        <div id="circleButton" class="circle">C</div>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        <input id="quantity" name="quantity" size="2">
                                                        <input type="button" onclick="addProductsWithQuantitySelection();" name="add-product" id="add-product" value="+"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                <tr>
                    <td>

                        <div style="min-height: 275px; position: inherit;">

                            <table id="dataTable">
                                <tbody id="tBodyOrders">

                                    <tr>
                                        <th>
                                            @if(anyDinining){
                                                @:<input type="checkbox" name="allbox" class="csChkAll" style="margin: 0 0 0 4px" onclick="checkAll();">
                                            }
                                            else{
                                                @:<input type="checkbox" name="allbox" class="csChkAll" style="margin: 0 0 0 4px" onclick="checkAll();" checked="checked">
                                            }
                                        </th>
                                        <th>Name</th>
                                        <th>Unit</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                        <th>
                                                <div class='delete' onclick="productRemoveAll();">
                                                <a href="#">
                                                </a>
                                                </div>
                                        </th>
                                    </tr>

                                    @if (Model.OrderedProducts.Count > 0)
                                    {
                                        int? inx = 0;
                                        foreach (var item in Model.OrderedProducts)
                                        {
                                            //Todo: if it is a parcel row then change this TR class to parcellrow else nonparcelrow
                                            inx++;
                                            ViewData["count"] = inx;
                                            @Html.Partial("OrderedProduct", item);
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>

            </tbody>
        </table>



    </div>
}