@model RT.Models.Order
@{
    Layout = null;
}
@using (Html.BeginForm("SaveBill", "Order", FormMethod.Post))
{
    <div id="divOrderDetails">
        
        <table class="invoice-form-table">
            <tbody>
                <tr>
                    <td>
                        <div style="min-height: 275px; position: inherit;">

                            <table id="dataTable">
                                <tbody id="tBodyOrders">

                                    <tr>
                                        <th>
                                            <input type="checkbox" name="allbox" class="csChkAll" style="margin: 0 0 0 4px" checked="checked">
                                        </th>
                                        <th>Name</th>
                                        <th>Unit</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                        <th>
                                            <img class="button-icon" src="./images/button-remove.png" onclick="removeAll();">
                                        </th>
                                    </tr>

                                    @if (Model.OrderedProducts.Count > 0)
                                    {
                                        int? inx = 0;
                                        foreach (var item in Model.OrderedProducts)
                                        {
                                            //Todo: if it is a parcel row then change this TR class to parcellrow else nonparcelrow
                                            inx++;
                                            ViewData["count"] = inx;
                                            @Html.Partial("OrderedProduct", item);
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div id="invoice-payment-form">
                            @if (Model != null)
                            {
                                        
                                @Html.HiddenFor(model => Model.Id);
                                @Html.TextBoxFor(model => Model.Seats, new { @readonly = "true",@placeholder="Seats" });
                                <br />
                                @Html.TextBoxFor(mode => Model.TotalAmount, new { @readonly = "true",@placeholder="Total" });
                                <input type="text" placeholder="PAY AMOUNT" onclick="setBalanceAmount()" onkeypress="enterPlaceBill(event)" onkeyup="setBalanceAmount()" onkeydown="setBalanceAmountValue()" value="" id="PaidAmount" name="PaidAmount" />
                                        
                                <input type="text" value="" placeholder="BALANCE" id="BalanceAmount" name="BalanceAmount" readonly="true"/>
                                        
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        @if (Model.Status != (byte)RT.StatusType.Bill)
        {
            
            <input type="button" value="Order" id="saveOrder" class="btn btn-primary">
           
        }
        @Html.Hidden("savePayUrl", Url.Action("Pay"))
       <input type="button" value="Pay" id="savePayment" class="btn btn-success">
    </div>
}