@model Restaurant.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Create a New Account</h2>
<p>
    Use the form below to create a new account. 
</p>
<p>
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
            <H3>Account Information</H3>
  <div class="CSSEditTableGenerator" >
                <table width="100%" >
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.UserName)
                        </td>
                        <td >
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName) 
                        </td>
                    </tr>
                    <tr>
                        <td >
                            @Html.LabelFor(m => m.Email)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)                       
                         </td>
                    </tr>
                    <tr>
                        <td >
                            @Html.LabelFor(m => m.Password)
                        </td>
                        <td>
                             @Html.PasswordFor(m => m.Password)
                             @Html.ValidationMessageFor(m => m.Password)
                        </td>
                    </tr>   
                    <tr>
                        <td >
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </td>
                    </tr>   

                    <tr>
                        <td >
                            @Html.LabelFor(m => m.Role)
                        </td>
                        <td>
                            @Html.DropDownList("Role", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["Role"], "Select Role", new { @class = "wrapper-dropdown" })
                            @Html.ValidationMessageFor(m => m.Role)
                        </td>
                    </tr>   

                </table>
            </div>
            <p>
                <input type="submit" value="Register" />
            </p>

    </div>
}
