@model RT.Models.Order
@{
    Layout = null;
    
    string TotalAmount = Model.TotalAmount.HasValue ? Model.TotalAmount.Value.ToString("#,##0.00#") : "";
    bool anyDinining = Model.OrderedProducts.Where(i=>i.Status==1).Any(i => i.Type == 0);
}
@using (Html.BeginForm("SaveBill", "Order", FormMethod.Post))
{
    <div id="divOrderDetails">
        <div id="invoice-payment-form">
            @if (Model != null)
            {
                //Tod: Need to change total and seats as read only

                @Html.TextBoxFor(model => Model.Seats, new { @readonly = "true" });
                @Html.TextBoxFor(mode =>TotalAmount, new { @readonly = "true" });
                @Html.HiddenFor(model => Model.Id);
            }

        </div> 

                        <div style="min-height: 275px; position: inherit;">

                            <table id="dataTable">
                                <tbody id="tBodyOrders">

                                    <tr>
                                        <th>
                                            @if(anyDinining){
                                                @:<input type="checkbox" name="allbox" class="csChkAll" style="margin: 0 0 0 4px" onclick="checkAll();">
                                            }
                                            else{
                                                @:<input type="checkbox" name="allbox" class="csChkAll" style="margin: 0 0 0 4px" onclick="checkAll();" checked = "checked">
                                            }
                                        </th>
                                        <th>Name</th>
                                        <th>Unit</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                        <th>
                                            <img class="button-icon" src="./images/delete.png" onclick="productRemoveAll();">
                                        </th>
                                    </tr>

                                    @if (Model.OrderedProducts.Count > 0)
                                    {
                                        int? inx = 0;
                                        foreach (var item in Model.OrderedProducts)
                                        {
                                            inx++;
                                            //Todo: if it is a parcel row then change this TR class to parcellrow else nonparcelrow
                                            ViewData["count"] = inx;
                                            @Html.Partial("OrderedProduct", item);
                                            
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>



        <input type="button" value="Order" id="saveOrder" class="btn btn-disabled">
        @Html.Hidden("saveOrderUrl", Url.Action("SaveOrder"))
        <input type="button" value="Bill" id="saveBill" class="btn btn-disabled">
        @Html.Hidden("saveBillUrl", Url.Action("SaveBill"))
        
    </div>
}