@model RT.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>


<script type="text/javascript">

    $(document).ready(function () {
        LoadMasterProducts($("#MasterProductID").val());
        $("#ExpiryDate").datepicker({ dateFormat: 'dd/mm/yy' });

        $("#ProductGroupID").change(function(event){
            LoadMasterProducts(0);
        });

        $("#SelectMasterProduct").change(function (event) {
           
            $("#MasterProductID").val($("#SelectMasterProduct").val());
        });
    });
  
    function LoadMasterProducts(selectedmasterproductid)
    {
          var items = "";
              var pgidval = $("#ProductGroupID").val();          

        $.getJSON("@Url.Action("GetMasterProductsForProductGroup", "Product")", { pgid: pgidval },
           function (data) {

               $("#SelectMasterProduct").empty();
               $("#SelectMasterProduct").append(new Option("Select MasterProduct", 0));

               $.each(data, function () {
                                  
                   $("#SelectMasterProduct").append(new Option(this.name, this.id));
               });

               $("#SelectMasterProduct").val(selectedmasterproductid);
           });
    }

</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <H3>Product</H3>

        <div class="CSSEditTableGenerator">
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                  
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ProductGroup.Name)
                </td>
                <td>                    
                    @Html.DropDownList("ProductGroupID", (SelectList)ViewBag.ProductGroup ,"Select ProductGroup")       
                    @Html.ValidationMessageFor(model => model.ProductGroupID)             
                </td>
            </tr>      
       @*   <tr>
                <td>
                   Master Product Name
                </td>
                <td>                    
                    @Html.DropDownList("MasterProductID", (SelectList)ViewBag.MasterProduct ,"Select Master Product")
                     @Html.ValidationMessageFor(model => model.MasterProductID)            
                               
                </td>
            </tr>    *@  
            
            <tr>
                <td>
                   Master Product
                </td>
                <td>                    
                   <select id="SelectMasterProduct"></select>          
                      @Html.HiddenFor(model => model.MasterProductID)      
                </td>
            </tr>                   
            <tr>
                <td>
                    @Html.LabelFor(model => model.Details)
                </td>
                <td>
                    @Html.EditorFor(model => model.Details)
                    @Html.ValidationMessageFor(model => model.Details)
                </td>
            </tr>
              <tr>
                <td>
                    @Html.LabelFor(model => model.ExpiryDate)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ExpiryDate,"",false)
                    @Html.ValidationMessageFor(model => model.ExpiryDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Stock)
                </td>
                <td>
                    @Html.EditorFor(model => model.Stock)
                    @Html.ValidationMessageFor(model => model.Stock)
                </td>
            </tr>
              <tr>
                <td>
                    @Html.LabelFor(model => model.LowStockRange)
                </td>
                <td>
                    @Html.EditorFor(model => model.LowStockRange)
                    @Html.ValidationMessageFor(model => model.LowStockRange)
                </td>
            </tr>  <tr>
                <td>
                    @Html.LabelFor(model => model.ActualPrice)
                </td>
                <td>
                    @Html.EditorFor(model => model.ActualPrice)
                    @Html.ValidationMessageFor(model => model.ActualPrice)
                </td>
            </tr>  <tr>
                <td>
                    @Html.LabelFor(model => model.FirstSellingPrice)
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstSellingPrice)
                    @Html.ValidationMessageFor(model => model.FirstSellingPrice)
                </td>
            </tr>  <tr>
                <td>
                    @Html.LabelFor(model => model.SecondSellingPrice)
                </td>
                <td>
                    @Html.EditorFor(model => model.SecondSellingPrice)
                    @Html.ValidationMessageFor(model => model.SecondSellingPrice)
                </td>
            </tr>  <tr>
                <td>
                    @Html.LabelFor(model => model.ThirdSellingPrice)
                </td>
                <td>
                    @Html.EditorFor(model => model.ThirdSellingPrice)
                    @Html.ValidationMessageFor(model => model.ThirdSellingPrice)
                </td>
            </tr>  <tr>
                <td>
                    @Html.LabelFor(model => model.FourthSellingPrice)
                </td>
                <td>
                    @Html.EditorFor(model => model.FourthSellingPrice)
                    @Html.ValidationMessageFor(model => model.FourthSellingPrice)
                </td>
            </tr>
              <tr>
                <td>
                    @Html.LabelFor(model => model.IsQuickProduct)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.IsQuickProduct)
                    @Html.ValidationMessageFor(model => model.IsQuickProduct)
                </td>
            </tr>  <tr>
                <td>
                    @Html.LabelFor(model => model.Remarks)
                </td>
                <td>
                    @Html.EditorFor(model => model.Remarks)
                    @Html.ValidationMessageFor(model => model.Remarks)
                </td>
            </tr>
              <tr>
                <td>
                    @Html.LabelFor(model => model.Kitchen.KitchenName)
                </td>
                <td>
                   @Html.DropDownList("KitchenID",(SelectList)ViewBag.Kitchen, "Select Kitchen")
                   @Html.ValidationMessageFor(model => model.KitchenID)
                   
            </tr>
        </table>
        </div>


   

        <p>
            <input type="submit" value="Create" />
        </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
