@model IEnumerable<RT.Models.Product>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm()) {

   @Html.DropDownList("SearchProductGroup", (SelectList)ViewBag.ProductGroup ,"Select ProductGroup")   
<input type="submit" value="search" />
    
<div class="CSSTableGenerator">
<table>
    <tr>
        <td>
            Product Name
        </td>
        <td>
            Product Group
        </td>
      <td>
            Master Product
        </td>

      <td>
           Dining Price
        </td>
      <td>
            Parcel Price
        </td>


         <td>Actions</td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductGroup.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product2.Name)
        </td> 

         <td>
            @Html.DisplayFor(modelItem => item.ActualPrice)
        </td> 
         <td>
            @Html.DisplayFor(modelItem => item.SecondSellingPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
</div>
}