<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">

        <title>Restoran Muthu</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")


    </head>
    <body>
<div class="page">
        <header>
            <div id="title">
                <h1>Restoran Muthu</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    @if (Context.User.IsInRole("Admin")){
                        <li>@Html.ActionLink("Register","Register","Account")</li>
                        <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                    }
                    @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Cashier"))
                    {
                        
                        <li>@Html.ActionLink("Denomination","Index","CurrencyDenominator")</li>
                        <li>@Html.ActionLink("Kitchen", "Index", "Kitchen")</li>
                        <li>@Html.ActionLink("Product group", "Index", "ProductGroup")</li>                   
                        <li>@Html.ActionLink("Product", "Index", "Product")</li>
                        <li>@Html.ActionLink("Bill", "Index", "Bill")</li>
                        <li>@Html.ActionLink("Close","DenominationCalculation","CurrencyDenominator")</li>
                        <li>@Html.ActionLink("RePrint", "ListOrdersForReprint", "Order")</li>
                        <li>@Html.ActionLink("Arrange", "ArrangeProducts", "Product")</li>                    }

                    @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Cashier") || Context.User.IsInRole("Waiter"))
                    {
                        <li>@Html.ActionLink("Printers", "Index", "Printer")</li>
                        <li>@Html.ActionLink("Order", "Index", "Order")</li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>




        @RenderSection("scripts", required: false)
    </body>
</html>
