<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/InvoiceScripts/buttons.css">
    <link rel="stylesheet" type="text/css" href="~/InvoiceScripts/navigation.css">
    <link rel="stylesheet" href="~/InvoiceScripts/pos.css" type="text/css">
    <link rel="stylesheet" type="text/css" media="all" href="~/InvoiceScripts/invoice-styles.css">

    <link rel="stylesheet" type="text/css" href="~/InvoiceScripts/circle.css">

    <link rel="stylesheet" type="text/css" href="~/InvoiceScripts/arrange.css">
    
    
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jquerychannel")

    @Scripts.Render("~/bundles/jquerysignalr")

    @Scripts.Render("~/bundles/jquerynotification")

    <script src="~/InvoiceScripts/addInvoice.js"></script>
    <script type="text/javascript" src="~/InvoiceScripts/common.js"></script>

    <title>Add New Invoice</title>
    <script type="text/javascript" id="waxCS">var WAX = function () { var _arrInputs; window.addEventListener('waxSetArr', function (evt) { _arrInputs = evt.detail; }); return { getElement: function (i) { return _arrInputs[i]; } } }(); function waxGetElement(i) { return WAX.getElement(i); }</script>
</head>
<body onload="seatSettingDetails();">
    <div class="page">
        <header>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </header>
        <section>
            @RenderBody()
        </section>

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
