<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/Ordercss")

    
    @Scripts.Render("~/bundles/jquery")
    

    @Scripts.Render("~/bundles/orderscripts")

        <script type="text/javascript">
            $().ready(function () {

                $.loader({
                    className: "blue-with-image-2",
                    content: ''
                });
            });
    </script>

    <title>Restoran Muthu</title>
    <script type="text/javascript" id="waxCS">var WAX = function () { var _arrInputs; window.addEventListener('waxSetArr', function (evt) { _arrInputs = evt.detail; }); return { getElement: function (i) { return _arrInputs[i]; } } }(); function waxGetElement(i) { return WAX.getElement(i); }</script>


        <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">
        if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
            var viewportmeta = document.querySelector('meta[name="viewport"]');
            if (viewportmeta) {
                viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
                document.body.addEventListener('gesturestart', function () {
                    viewportmeta.content = 'width=device-width, minimum-scale=0.25, maximum-scale=1.6';
                }, false);
            }
        }



    </script>

</head>
<body onload="seatSettingDetails();">
    
        <header>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </header>
        <section>
            @RenderBody()
        </section>

    
    @RenderSection("scripts", required: false)
</body>
</html>
