@model RT.Models.OrderedProduct
@{
    int? inx = (ViewData.Eval("count") as int?) - 1;
    Layout = null;

    string deletedRowClass = (Model.Status == 0) ? "deleted-order" : "";
    string deletedSpanClass = (Model.Status == 0) ? "deleted" : "";
    string infoClass = (Model.Status == 0) ? "info deleted " : "info none";
    string ProductDisplayName = (Model.Status == 0) ? Model.ProductName + " ~" + Model.Reason : Model.ProductName  ;
    string trimedProdName = System.Text.RegularExpressions.Regex.Replace(Model.ProductName, @"\s+", "");
    string Amount = (Model.Quantity * Model.Price).Value.ToString("#,##0.00#");
}


    <tr class="disabled old-order nonParcelRow plist_@inx @deletedRowClass" id='row-id-@trimedProdName-@Model.ProductId-@Model.Type'>
        <td>
            <span class="@deletedSpanClass">
                                               
                @if(Model.Type == 1){
                    <input disabled="disabled" type="checkbox" checked="checked"  />
                }
                else{
                    <input disabled="disabled" type="checkbox"  /> 
                }

            </span>
            <input type="hidden" name="oldItems[@inx].ProductName" value=@Model.ProductName id="ProductName"/>
            <input type="hidden" name="oldItems[@inx].Quantity" value=@Model.Quantity id="Quantity"/>
            <input type="hidden" name="oldItems[@inx].Status" value=@Model.Status id="Status"/>
            <input type="hidden" name="oldItems[@inx].Id" value="@Model.Id" id="OldItemId_@inx"/>
            @Html.HiddenFor(modelItem => Model.ProductName)
            <input type="hidden" id="Reason" name="oldItems[@inx].Reason" value="@Model.Reason"/>
            <input type="hidden" id="type"@inx name="oldItems[@inx].Type" value="@Model.Reason"/>
           
        </td>
        <td>
            <div id="imgIcon" class="@infoClass" onclick='onInfoClick("row-id-@trimedProdName-@Model.ProductId-@Model.Type",@inx,"old-order")'>
            <a  href='#'>
            </a>
            </div>
            <span class="@deletedSpanClass">
                @Html.DisplayFor(modelItem => ProductDisplayName)
                
            </span>

        </td>
        <td>
            <span class="@deletedSpanClass">
                @Html.DisplayFor(modelItem => Model.Price)
            </span>
        </td>
        <td>
            <span class="@deletedSpanClass">
                @Html.DisplayFor(modelItem => Model.Quantity)
            </span>
        </td>
        <td id='unitTotal'>
            <span class="@deletedSpanClass">
            @Html.DisplayFor(modelItem => Amount)
            </span>
        </td>
        <td>
            @{
    /*Todo: Need to implement: when wiater clicks this images , he will see the popup with 'reason' message. and should hide this row from the table. Later cahsier will review and save or delete in bill page */
            }
            <div class='delete' onclick='deleteDataRow("row-id-@trimedProdName-@Model.ProductId-@Model.Type",@inx,"old-order")'>
                <a href="#">
                </a>
            </div>
        </td>
    </tr>
    


