@model RT.Models.ProductGroup

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
        <H3>ProductGroup</H3>

        @Html.HiddenFor(model => Model.Id);
        @Html.HiddenFor(model => Model.CreatedBy);
        @Html.HiddenFor(model => Model.Status);
        @Html.HiddenFor(model => Model.CreatedDate);
   
        <div class="CSSEditTableGenerator" >
                <table width="50%" >
                    <tr>
                        <td>
                             @Html.LabelFor(model => Model.Name);
                        </td>
                        <td >
                               @Html.EditorFor(model => Model.Name, new { @class = "res_textbox" })
                               @Html.ValidationMessageFor(model => Model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td >
                               @Html.LabelFor(model => Model.Details)
                        </td>
                        <td>
                                @Html.EditorFor(model => Model.Details)
                                @Html.ValidationMessageFor(model => Model.Details)
                        </td>
                    </tr>
                </table>
            </div>
            
        <p>
            <input type="submit" value="Save"/>
        </p>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
